// @font-face declarations

@font-face {
    font-family: 'AT Apoc Revelations';
    src: url('../static/fonts/ATApoc-Revelations.woff2') format('woff2'),
        url('../static/fonts/ATApoc-Revelations.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AT Apoc Revelations';
    src: url('../static/fonts/ATApoc-RevelationsItalic.woff2') format('woff2'),
        url('../static/fonts/ATApoc-RevelationsItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
