@media screen and (min-width: 1024px)

  $gutter = 24px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-extra = 36px
  $font-size-large = 32px
  $font-size-mid = 21px
  $font-size-basic = 18px
  $font-size-small = 14px
  $font-size-tiny = 10px

  grid-maker(1000px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  .desktop-only
    display: initial !important

  #main-nav
    padding: $margin-tiny

  .entry-content > *
    padding-left: $margin-tiny
    padding-right: $margin-tiny

  h2
    font-size: $font-size-large

  h3,h4,h5,h6
    font-size: $font-size-mid

  button
    padding: $margin-tiny
